@charset "utf-8";
/* CSS Document */

.banner{
	display:inline-block;
	font-family:"楷体";
	font-weight:bold;
	font-style:normal;
	font-size:40px;
	color:#1D0BED;
	
}

body img{
  position:absolute;
  left:170px;
  top:80px;
}
body li{
	display:inline;	
}

body li.return a:hover{
	color:rgba(52,99,164,1.00);
}
body li.return a:active{
	color: rgba(47,133,199,1.00);
}
body li.return a{
  position:absolute;
  left:915px;
  top:590px;
	display: block;
	font-family:"Bodoni MT Black";
	font-size:35px;
}

