@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
body{
	padding:0px;
	margin:0px;
}
#bg{
	height: 100%;
	width:100%;
	top:0px;
	left:0px;
	position:absolute; 
}
.banner{
	display:inline-block;
	font-family:"楷体";
	font-weight:bold;
	font-style:normal;
	font-size:40px;
	color:#1D0BED;
}


body img.t1{
	position: absolute;
  left:70px;
  top:60px;
}
body img.t2{
	position: absolute;
  left:320px;
  top:60px;
}
body img.t3{
	position: absolute;
  left:570px;
  top:60px;
}

th{height:40px;}
td {text-align:center;height:50px; vertical-align:inherit; }

body li{
	display:inline;	
}

body li.return a:hover{
	color:rgba(52,99,164,1.00);
}
body li.return a:active{
	color: rgba(47,133,199,1.00);
}
body li.return a{
  position:absolute;
  left:915px;
  top:590px;
	display: block;
	font-family:"Bodoni MT Black";
	font-size:35px;
}

